<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <!--무진 -->
    <select id="findById" resultType="user">
        select
        *
        from
            users
        where
          id = #{id}
    </select>
    <!--무진 -->
    <insert id="insertUser">
        insert into
            users
        values (
        ('user' || lpad(seq_tb_user_user_no.nextval,3,0)),#{id}, #{password}, #{name}, #{nickName}, #{gender}, #{email}, #{phone}, #{role} ,
        #{category}, default )
    </insert>

    <select id="findAll" resultType="user">
        select
            *
        from
            users
        order by
            no
    </select>

    <select id="findByName" resultType="user">
        select
            *
        from
            users
        where
        name like '%' || #{name} || '%'
    </select>
    <select id="findByGender" resultType="user">
        select
            *
        from
            users
        where
            gender = #{gender}
    </select>
    <update id="updateUser">
        update
            users
        set
            name = #{name},
            gender = #{gender},
            email = #{email},
            phone = #{phone},
            nickname = #{nickName}
        where
            id = #{id}
    </update>

    <update id="updateUserPassword">
        update
            users
        set
            password = #{password}
        where
        id = #{id}
    </update>

    <update id="updateUserRole" >
        update
            users
        set
            role = #{role}
        where
            id = #{id}
    </update>

    <delete id="deleteUser">
        delete from
            users
        where
            id = #{id}
    </delete>

    <!-- 전체 게시물 조회 - 재준 -->
    <select id="getTotalCount" resultType="_int">
        select
        count(*)
        from
        users
    </select>

    <!-- 페이지 별 게시물 조회 - 재준 -->
    <select id="findAllPage" resultType="user">
        select
        no
        , id
        , name
        , nickname
        , gender
        , email
        , phone
        , role
        , category
        , reg_date
        from
        users
        <if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
            where
            ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
        order by
        reg_date desc
    </select>
</mapper>