<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <!--무진 -->
    <select id="findById" resultType="user">
        select
        *
        from
            users
        where
        id = #{id}
    </select>
    <!--무진 -->
    <insert id="insertUser">
        insert into
            users
        values (
        ('user' || lpad(seq_tb_user_user_no.nextval,3,0)),#{id}, #{password}, #{name},#{nickName}, #{gender},#{email}, #{phone}, #{role} ,
        #{category}, default
        )
    </insert>

    <select id="findAll" resultType="user">
        select
            *
        from
            users
        order by
            no
    </select>

    <select id="findByName" resultType="user">
        select
            *
        from
            users
        where
        name like '%' || #{name} || '%'
    </select>
    <select id="findByGender" resultType="user">
        select
            *
        from
            users
        where
            gender = #{gender}
    </select>
    <update id="updateUser">
        update
            users
        set
            name = #{name},
            gender = #{gender},
            email = #{email},
            phone = #{phone},
            nickname = #{nickName}
        where
            id = #{id}
    </update>

    <update id="updateUserPassword">
        update
            users
        set
            password = #{password}
        where
        id = #{id}
    </update>

    <update id="updateUserRole" >
        update
            users
        set
            role = #{role}
        where
            id = #{id}
    </update>

    <delete id="deleteUser">
        delete from
        users
        where
        id = #{id}
    </delete>





</mapper>