<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restaurant">
    <!-- 식당 식별번호로 식당 한건 조회 - 우진 -->
    <select id="findByNo" resultType="restaurant">
        select
            *
        from
            restaurant
        where
            no = #{no}
    </select>

    <!-- 식당 여러 건 조회 - 우진 -->
    <select id="findAll" resultType="restaurant">
        select
            *
        from
            restaurant
    </select>

    <!-- 식당 이름으로 식당 조회 - 우진 -->
    <select id="findByName" resultType="restaurant">
        select
            *
        from
            restaurant
        where
            name like '%' || #{name} || '%'
    </select>

    <!-- 식당 카테고리로 식당 조회 - 우진 -->
    <select id="findByCategory" resultType="restaurant">
        select
            *
        from
            restaurant
        where
            category = #{category}
    </select>

    <!-- 식당 등록 - 우진 -->
    <insert id="insertRestaurant">
        insert into
            restaurant
        values(
                ('rest' || lpad(seq_restaurant_no.nextval,3,0)),
                #{no},
                #{name},
                #{address},
                #{content},
                #{phone},
                #{category},
                #{openTime},
                #{closeTime},
                default,
                #{totalStar},
                default
              )
        <selectKey order="AFTER" resultType="String" keyProperty="no">
            select
                ('rest' || lpad(seq_restaurant_no.currval,3,0))
            from
                dual
        </selectKey>
    </insert>

    <!-- 식당 내용을 수정 할 수 있다.(식당 이름, 주소, 내용, 번호) - 우진 -->
    <update id="updateRestaurant">
        update
            restaurant
        set
            name = #{name},
            address = #{address},
            content = #{content},
            phone = #{phone}
        where
            no = #{no}
    </update>

    <!-- 식당 삭제 - 우진 -->
    <delete id="deleteRestaurant">
        delete
        from
            restaurant
        where
            no = #{no}
    </delete>
</mapper>