<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
    <!-- 메뉴 전체 조회 - 재준 -->
<!--    <select id="findAll" resultType="menu">-->
<!--        select-->
<!--            *-->
<!--        from-->
<!--            menu-->
<!--    </select>-->

    <!-- 메뉴 식별번호로 메뉴 한개 조회 - 재준 -->
    <select id="findByNo" resultType="menu">
        select
            *
        from
            menu
        where
            no = #{no}
    </select>

    <!-- 메뉴 추가 - 재준 -->
    <insert id="insertMenu">
        insert into
            menu
        values (
            ('menu' || lpad(seq_menu_no.nextval,3,0)), #{restNo}, #{name}, #{content}, #{price}
        )
        <selectKey order="AFTER" resultType="string" keyProperty="no">
            select
                ('menu' || lpad(seq_menu_no.currval,3,0))
            from
                dual
        </selectKey>
    </insert>

    <!-- 메뉴 수정 - 재준 -->
    <update id="updateMenu">
        update
            menu
        set
            name = #{name}
            , content = #{content}
            , price = #{price}
        where
            no = #{no}
    </update>

    <!-- 메뉴 삭제 -->
    <delete id="deleteMenu">
        delete from
            menu
        where
            no = #{no}
    </delete>

    <!-- 메뉴 이름으로 식당 식별번호 조회 - 재준 -->
    <select id="findByName" resultType="String">
        select
            rest_no
        from
            menu
        where
            name = #{name}
    </select>

    <!-- 전체 게시물 조회 - 정호 -->
    <select id="getTotalCount" resultType="_int">
        select distinct
            count(*)
        from
            restaurant
--         r left join menu m
--         on r.no = m.rest_no
--         left join menu_picture p
--         on m.no = p.menu_no
        <where>
            <if test="searchKeyword != null and searchKeyword != '' and searchType != null and searchType != ''">
                ${searchType} like '%' || #{searchKeyword} || '%'
            </if>
        </where>
    </select>

    <!-- 페이지 별 게시물 조회 - 정호 -->
    <select id="findAllPage" resultMap="restaurantVoMap">
<!--        select distinct-->
<!--            r.no,-->
<!--            r.name,-->
<!--            r.address,-->
<!--            r.category,-->
<!--            p.renamed_filename-->
<!--        from-->
<!--            restaurant r left join menu m-->
<!--                on r.no = m.rest_no-->
<!--                    left join menu_picture p-->
<!--                           on m.no = p.menu_no-->
<!--        <where>-->
<!--            <if test="searchKeyword != null and searchKeyword != ''">-->
<!--                    category like '%' || #{searchKeyword} || '%'-->
<!--            </if>-->
<!--        </where>-->
<!--        order by-->
<!--            no desc-->
        WITH RankedPictures AS (
        SELECT
        r.no AS restaurant_no,
        r.name AS name,
        r.address AS address,
        r.category AS category,
        p.renamed_filename,
        ROW_NUMBER() OVER (PARTITION BY r.no ORDER BY p.renamed_filename) AS rn
        FROM
        restaurant r
            left join menu m on r.no = m.rest_no
            left join menu_picture p on m.no = p.menu_no
        )
        SELECT
        restaurant_no AS no,
        name,
        address,
        category,
        renamed_filename
        FROM
        RankedPictures
        select
            restaurant_no as no,
            restaurant_name as name,
            restaurant_address as address,
            restaurant_category as category,
            renamed_filename
        from
            rankedpictures
        <where>
            rn = 1
            <if test="searchKeyword != null and searchKeyword != '' and searchType != null and searchType != ''">
                and
                ${searchType} like '%' || #{searchKeyword} || '%'
            </if>
        </where>
        ORDER BY
            no DESC, renamed_filename
    </select>

    <resultMap id="restaurantVoMap" type="restaurantVo">
        <id column="no" property="no"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="category" property="category"/>
        <collection property="menuPictures" ofType="menuPicture">
            <id column="pic_no" property="no"/>
            <result column="renamed_filename" property="renamedFilename"/>
        </collection>
    </resultMap>

    <select id="getTotalCount1" resultType="_int">
        select
            count(*)
        from
            restaurant r left join menu m
                on r.no = m.rest_no
            left join menu_picture p
                on m.no = p.menu_no
    </select>
</mapper>