<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            menu m join menu_picture p
                        on m.no = p.menu_no
    </select>
    <select id="findAll" resultMap="menuVoMap">
        select
            m.*,
            p.no pic_no,
            p.menu_no,
            p.renamed_filename
        from
            menu m join menu_picture p
                        on m.no = p.menu_no
    </select>
    <resultMap id="menuVoMap" type="menuVo">
        <id column="no" property="no">
            
        </id>
    </resultMap>
</mapper>