<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
    <!-- 전체 게시물 조회 - 재준 -->
    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            users
    </select>

    <!-- 페이지 별 게시물 조회 - 재준 -->
    <select id="findAllPage" resultType="user">
        select
            no
            , id
            , name
            , nickname
            , gender
            , email
            , phone
            , role
            , category
            , reg_date
        from
            users
    </select>
</mapper>